<?
date_default_timezone_set('Europe/Amsterdam');
// deze data wijzigt elk schooljaar
$schooljaar_long='2009/2010'; // format YYYY/YYYY
$vorig_schooljaar_long='2008/2009'; // format YYYY/YYYY
$lesweken = explode(' ', '35 36 37 38 39 40 41 42 44 45 46 47 48 49 50 '.
	'51 1 2 3 4 5 6 7 9 10 11 12 13 14 15 16 17 19 20 21 22 23 24 25 26 27');
$http_server='onlineklassenboek.nl';
$teletop_server='bla.teletop.nl';
$teletop_vaksite_prefix='/tt/school/courses/';

$http_path='/ovc'; // without trailing slash
$cookie_path = $http_path;
$schoolnaam = "Berk en Bosch College";
$recaptcha_public = "...";
$recaptcha_private = "...";
$aanmeld_secret = "q;w4oiuy890qv n89p235yh";
$pw_reset_secret = "lksdjfjhjhkhjl;jlkjq;w4oiuy890qv n89p235yh";

// zet de gewenste favicon in images/ en stel hier de naam in
$favicon = "";

$mysql_server = 'localhost';
$mysql_username = 'USERNAME';
$mysql_password = 'PASSWORD';
$mysql_database = 'skynet';

// php session directory
$session_subdir = 'ovckb_test_sessions';

// lestijden
$lestijden[1] = "8:30-9:20";
$lestijden[2] = "9:20-10:10";
$lestijden[3] = "10:10-11:20 (incl. 20 min pauze)";
$lestijden[4] = "11:20-12:10";
$lestijden[5] = "12:10-13:30 (incl. 30 min pauze)";
$lestijden[6] = "13:30-14:20";
$lestijden[7] = "14:20-15:10";
$lestijden[8] = "15:10-16:00";
$lestijden[9] = "16:00-16:50";

$cachedir = NULL;
$websvg = NULL;

$beheerder = 'Bill Gates <beheer@example.com>';

?>
